= link_to 'Reload Assests', reload_assets_path
= link_to 'Fetch Tracks From Server Again', reload_tracks_path
#server-url= HumConfig.conf.server
-if @listing
  #number-of-tracks= @listing.size
#player
  .prev= link_to 'Prev', '#'
  .play= link_to 'Play', '#'
  .next= link_to 'Next','#'
  .clear
  .random
    = label_tag :random_play
    = check_box_tag :random, '1',true
  .continuous
    = label_tag :continuous_play
    = check_box_tag :continuous, '1',true
  .clear
  #vol-up= link_to 'Vol Up', '#'
  #vol-down= link_to 'Vol Down', '#'
  #volume

#search
  = label_tag :search
  = text_field_tag :search
  .clear

#tracks
  - if @listing
    %div
      = "#{@listing.size} Tracks"

      .clear
    - @listing.each do |id, track|
      = track_links(id, track)

