!!! Strict
%html
  %head
    %title Hum - Client of the melody server
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'application'

    - if Rails.env.production?
      = javascript_include_tag('soundmanager2-nodebug-jsmin')
    - else
      = javascript_include_tag('soundmanager2')
    :javascript
      soundManager.url = "/swf/";
      soundManager.flashLoadTimeout = 5000;
      soundManager.waitForWindowLoad = false
    = javascript_include_tag('head.min')
    = headjs_include_tag('jquery.min', 'application', :cache => 'bundle')
  %body
    = yield

